@charset "UTF-8";

@import url('https://webfontworld.github.io/NanumSquare/NanumSquare.css');

body{font-family: 'NanumSquare'; font-weight: 400; font-size: 16px; line-height: 1; letter-spacing: -0.6px; color: #fff;}

html, body, h1, h2, h3, h4, h5, h6, p, address, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin: 0; padding: 0; border: 0;}
strong{font-weight: normal;}
em{font-style: normal;}
ol, ul {list-style: none;}
button{cursor: pointer;}
a{text-decoration: none; color: inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
